.ant-input {
    border-radius: 5px;
    padding: 10px;
}

.ant-input-number-input {
    border-radius: 5px;
    padding: 10px;
    height: auto;
}

.ant-input-number {
    border-radius: 5px;
    margin-left: 16px;
}

.ant-input-affix-wrapper {
    border-radius: 5px;
    padding: 10px;
}