.page {
    height: 100%;
    background-color: #FAFAFA;
    
    &__title {
        font-size: 28px;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        .ant-input-suffix {

            span {

                svg {

                    path:last-child {
                        fill: white;
                    }
                }
            }
        }

        .ant-input-search-large .ant-input-search-button {
            height: 47px;
        }

        .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .notification {
            position: absolute;
            width: 220px;
            padding: 15px;
            top: calc(100% + 10px);
            right: -10px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0 0 5px rgb(206, 206, 206);
            z-index: 10;

            a{
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
            .row {
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: center;
                top: -8px;
                left: 0;

                b{
                    width: 15px;
                    height: 15px;
                    background-color: white;
                    transform: rotate(-135deg);
                    box-shadow: inset -2px -2px 2px 0px rgba(129, 129, 129, 0.19);
                }
            }
        }
    }

    .input_with_vidios {
        height: calc(100vh - 64px);
        justify-content: center;
        align-items: center;
        margin-top: -40px;

        .ant-space {
            width: 100%;
        }
    }

    &__data {
        padding-top: 40px;

        &__sort_wrap {
            display: flex;
            justify-content: space-between;

            svg:first-child {
                margin-right: 20px;
            }
        }

        .grid_sort {
            width: 100%;
            display: grid;
            grid-template-columns: 23.7% 23.7% 23.7% 23.7%;
            grid-gap: 20px;
        }

        .line_sort {
            width: 100%;
            display: grid;
            grid-gap: 32px;
        }
    }
}