.login_page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__form_wrap {
      background-color: white;
      padding: 40px 90px 40px 90px;
      border: 1px solid #dedede;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        content: "";
      }

      .ant-form-item-label {
        display: flex;
      }
  
      &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
      }
  
      &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
  }